[submodule "vendor/github.com/miekg/dns"]
	path = vendor/github.com/miekg/dns
	url  = https://github.com/miekg/dns.git
		
[submodule "vendor/github.com/miekg/exdns"]
	path = vendor/github.com/miekg/exdns
	url  = https://github.com/miekg/exdns.git
		
[submodule "vendor/github.com/mageddo/go-logging"]
	path = vendor/github.com/mageddo/go-logging
	url  = https://github.com/mageddo/go-logging.git
		
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url  = https://go.googlesource.com/net
		
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url  = https://github.com/Sirupsen/logrus
		
[submodule "vendor/github.com/docker/distribution"]
	path = vendor/github.com/docker/distribution
	url  = https://github.com/docker/distribution
		
[submodule "vendor/github.com/docker/engineapi"]
	path = vendor/github.com/docker/engine-api
	url  = https://github.com/docker/engine-api
		
[submodule "vendor/github.com/docker/go-connections"]
	path = vendor/github.com/docker/go-connections
	url  = https://github.com/docker/go-connections
		
[submodule "vendor/github.com/docker/go-units"]
	path = vendor/github.com/docker/go-units
	url  = https://github.com/docker/go-units
		
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url  = https://github.com/stretchr/testify.git

[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url  = https://github.com/pkg/errors.git
