<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css"/>

	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/ng-table.min.css"/>

	<script src="/static/js/angular.min.js"></script>
	<script src="/static/js/lodash.min.js"></script>
	<script src="/static/js/ng-table.min.js"></script>
	<script src="/static/js/index.js"></script>
</head>
<body >
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<div ng-app="myApp" class="container-fluid">
		<div class="container">
			<div ng-controller="demoController as demo">
				<h3>ngTable directive</h3>
				<form ng-submit="demo.saveNewLine(line)">
					<table class="table table-bordered table-hover table-condensed " >
						<colgroup>
							<col width="65%" />
							<col width="10%" />
							<col width="15%" />
							<col width="10%" />
						</colgroup>
						<tr>
							<th><label class="control-label " for="name">Name<span class="asteriskField">*</span></label></th>
							<th><label class="control-label requiredField" for="age">Age<span class="asteriskField">*</span></label></th>
							<th><label class="control-label requiredField" for="money">Money<span class="asteriskField">*</span></label></th>
							<th>Actions</th>
						</tr>
						<tr>
							<td>
								<input class="form-control" id="name" ng-model="line.name" type="text"/>
							</td>
							<td>
								<input class="form-control" id="age" ng-model="line.age" type="number"/>
							</td>
							<td>
								<input class="form-control" id="money" ng-model="line.money" type="number"/>
							</td>
							<td>
								<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span></button>
							</td>
						</tr>
					</table>
				</form>
				<table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="demo.tableForm" disable-filter="demo.isAdding" demo-tracked-table="demo.tableTracker">
					<colgroup>
						<col width="65%" />
						<col width="10%" />
						<col width="10%" />
						<col width="15%" />
					</colgroup>
					<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
						<td title="'Name'" filter="{name: 'text'}" sortable="'name'" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
							<span ng-switch-default class="editable-text">{{row.name}}</span>
							<div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
								<input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
							</div>
						</td>
						<td title="'Age'" filter="{age: 'number'}" sortable="'age'" ng-switch="row.isEditing" ng-class="age.$dirty ? 'bg-warning' : ''" ng-form="age" demo-tracked-table-cell>
							<span ng-switch-default class="editable-text">{{row.age}}</span>
							<div class="controls" ng-class="age.$invalid && age.$dirty ? 'has-error' : ''" ng-switch-when="true">
								<input type="number" name="age" ng-model="row.age" class="editable-input form-control input-sm" required/>
							</div>
						</td>
						<td title="'Money'" filter="{money: 'number'}" sortable="'money'" ng-switch="row.isEditing" ng-class="money.$dirty ? 'bg-warning' : ''" ng-form="money" demo-tracked-table-cell>
							<span ng-switch-default class="editable-text">{{row.money}}</span>
							<div class="controls" ng-class="money.$invalid && money.$dirty ? 'has-error' : ''" ng-switch-when="true">
								<input type="number" name="money" ng-model="row.money" class="editable-input form-control input-sm" required/>
							</div>
						</td>
						<td>
							<button class="btn btn-primary btn-sm" ng-click="demo.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
							<button class="btn btn-default btn-sm" ng-click="demo.cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
							<button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
							<button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div><!-- /.container -->
</body>
</html>