<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css"/>

	<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/ng-table.min.css"/>

	<script src="/static/js/angular.min.js"></script>
	<script src="/static/js/lodash.min.js"></script>
	<script src="/static/js/ng-table.min.js"></script>
	<script src="/static/js/index.js"></script>
</head>
<body >
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Project name</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<div ng-app="myApp" class="container-fluid">
		<div class="container">
			<div ng-controller="demoController as demo">
				<h3>ngTable directive</h3>
				<form ng-submit="demo.saveNewLine(line, saveform)" name="saveform" ng-model-options="{ updateOn: 'submit' }" novalidate>
					<table class="table table-bordered table-hover table-condensed " >
						<colgroup>
							<col width="60%" />
							<col width="20%" />
							<col width="10%" />
							<col width="10%" />
						</colgroup>
						<tr>
							<th><label class="control-label " for="hostname">Hostname<span class="asteriskField">*</span></label></th>
							<th><label class="control-label requiredField" for="ip">IP<span class="asteriskField">*</span></label></th>
							<th><label class="control-label requiredField" for="ttl">TTL<span class="asteriskField">*</span></label></th>
							<th>Actions</th>
						</tr>
						<tr>
							<td>
								<input class="form-control" id="hostname" ng-model="line.hostname" type="text" required />
							</td>
							<td>
								<input class="form-control" name="ip" ip id="ip" ng-model="line.ip" type="text" required  />
								<span ng-show="saveform.ip.$error.ip">The value is not a valid IP!</span>
							</td>
							<td>
								<input class="form-control" id="ttl" ng-model="line.ttl" type="number" size="3" min="1" required />
							</td>
							<td>
								<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-save"></span></button>
							</td>
						</tr>
					</table>
				</form>
				<table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="demo.tableForm" disable-filter="demo.isAdding" demo-tracked-table="demo.tableTracker">
					<colgroup>
						<col width="65%" />
						<col width="10%" />
						<col width="10%" />
						<col width="15%" />
					</colgroup>
					<tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
						<td title="'Hostname'" ng-switch="row.isEditing" ng-class="hostname.$dirty ? 'bg-warning' : ''" ng-form="hostname" demo-tracked-table-cell>
							<span ng-switch-default class="editable-text">{{row.hostname}}</span>
							<div class="controls" ng-class="hostname.$invalid && hostname.$dirty ? 'has-error' : ''" ng-switch-when="true">
								<input type="text" name="hostname" ng-model="row.hostname" class="editable-input form-control input-sm" required />
							</div>
						</td>
						<td title="'IP'" ng-switch="row.isEditing" ng-class="ip.$dirty ? 'bg-warning' : ''" ng-form="ip" demo-tracked-table-cell>
							<span ng-switch-default class="editable-text">{{row.ip | ipArray }}</span>
							<div class="controls" ng-class="ip.$invalid && ip.$dirty ? 'has-error' : ''" ng-switch-when="true">
								<input type="text" array-to-string name="ip" ng-model="row.ip" class="editable-input form-control input-sm" required/>
							</div>
						</td>
						<td title="'TTL'"  ng-switch="row.isEditing" ng-class="ttl.$dirty ? 'bg-warning' : ''" ng-form="ttl" demo-tracked-table-cell>
							<span ng-switch-default class="editable-text">{{row.ttl}}</span>
							<div class="controls" ng-class="ttl.$invalid && ttl.$dirty ? 'has-error' : ''" ng-switch-when="true">
								<input type="number" name="ttl" ng-model="row.ttl" class="editable-input form-control input-sm" required/>
							</div>
						</td>
						<td>
							<button class="btn btn-primary btn-sm" ng-click="demo.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
							<button class="btn btn-default btn-sm" ng-click="demo.cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
							<button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
							<button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div><!-- /.container -->
</body>
</html>